/* This style sheet is created for Sally's cakes 
Created by: Olajumoke Ojikutu C0860866
Date: August 13th, 2022 */

/* Import fonts */
@font-face {
    font-family:'ArtNuvo' ;
    src: url(/fonts/Art-nuvo.ttf);
}

@font-face {
    font-family: 'Frunchy';
    src: url(/fonts/FontsFree-Net-Frunchy.ttf);
}

/* Style for the header of all the htmls*/
header {
    width: 100%;
    position: sticky;
    /* top: 3; */
    display: flex;
    justify-content: center;
}

/* Style for class displayed in header */
.post-full-title {
    cursor: pointer;
}

/*Style for body to specify a background color and margin*/
body {
    background-color: #1478B8;
    margin: 0;
}

/* Style to create fluid image */
img {
    max-width: 80%;
}

/* Style for the image used in the contact.html */
.contact-img {
    padding-top: 5em;
    /* max-width: auto; */
}

/* Style for image used on the main page */
.first-img {
    /* max-width: auto; */
    padding-top: 2em;
}

.map-image {
    max-width: 100%;
}


/* Styling the navigation */
/* Style specifies padding and margin for unordered list in navigation */
/* Style for nav to specify text properties */
nav {
	font-family: 'Poppins', sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet styles, and applies margins and padding for list items withib the navigation */
nav li {
	background-color: #e57b7c;
	border-radius: 1em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
}

/* Style changes navigation link text color and removes the underline */
nav li a {
	color: #FFFEFC;
	text-decoration: none;
}

/* Style for the search box in nav*/
.right-nav {
    width: 50%;
    text-align: right;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    font-style: normal;
    margin-right: 100px;
}

/*Styles for nav anchor tags - creating pseudoselectors for other anchor tag links*/
.nav li a:visited, a:visited, .index-footer a:visited, .footer-for-classes a:visited  {
    color: #1478B8;
    background-color: transparent;
    text-decoration: none;
  }

.nav li a:link, a:link, .index-footer a:link, .footer-for-classes a:link{
    color: #FFFEFC;
    background-color: transparent;
    text-decoration: none;
  }

.nav li a:hover, a:hover, .index-footer a:hover, .footer-for-classes a:hover{
    color: #D5A947;
    background-color: transparent;
    text-decoration: none;
  }
  
.nav li a:active, a:active, .index-footer a:active, .footer-for-classes a:active{
    color: #FFFEFC;
    background-color: transparent;
    text-decoration: none;
}

/* Style for the search box form located at nav */
.right-nav form {
    background-color: #FFFEFC;
    width: 200px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

/* Style for input of the right nav */
input {
    all: unset;
    font-family: 'Poppins', sans-serif;
    color: #1478B8;
    height: 100%;
    width: 100%;
    padding: 10px 10px;
  } 

/* Style for all placeholders */
::placeholder {
    color: #D5A947;
    font-family: 'Poppins', sans-serif;
  }

/* Style for the nav-button class created for search box */
.nav-button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
/* Style for the svg created for search box */  
svg {
    color: #D5A947;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

/* Style for the right-nav class, specifying float, padding and display */
nav .right-nav {
    float: right; 
    padding-top: 2em;
    display: inline;

}

/* Style for h1 */
h1 {
    color: #FFFEFC;
    font-family: 'ArtNuvo', 'Poppins';
    font-weight: 200;
}

/* Style for h3 */
h3 {
    color: #FFFEFC;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Style for h2 */
h2 {
    color: #FFFEFC;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* Style for h4 */
h4 {
    color: #FFFEFC;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

/* Style for footer that is common to all html*/
footer {
    padding-top: 10%;
    color: #FFFEFC;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    text-align: center;
}

/* Style for index.html footer */
.index-footer {
    border-top:2px solid #FFFEFC;
    padding-top: 2%;
    color: #FFFEFC;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    text-align: center;
}

/* Style for the class created for footer, specifying padding, color and font */
.footer-for-classes {
    padding-top: 10%;
    color: #FFFEFC;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    text-align: center;
}

/* Style for the id created in the contact.html footer, setting new color for anchor tags */
#contact-footer a:visited {
    color: #D5A947;
    background-color: transparent;
    text-decoration: none;
}

/* Style for the id container in the html files */
#container {
    max-width: 960px;
    margin: auto;
    padding: 1em;
    text-align: center;
} 

/* Style for p */
p {
    color: #FFFEFC;
    font-family: 'Poppins', sans-serif;
}

/* Style for the contact section of the website */
/* Style for the div id that wraps the contact sections */
#contact {
    width: 100%;
    height: 50%;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.3em;
    display: block;
}

/* Syle for the id mid-contact */
#mid-contact {
    width: 50%;
    float: right;
    padding-top: 2em;
}

/* Syle for the id top-contact */
#top-contact {
    width: 50%;
    float: left;
    text-align: center; 
    padding-top: 2em;
}

/* Style created for the class categories in the order.html, specifying width, margin and display */
.categories {
    max-width: 1200px;
    margin-top: 10em;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Style created for the class category-item in the order.html, specifying width, border and background properties */
.category-item {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33.33%;
    border: 2px solid white;
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: center;
}

/* Style created for the class category-item-inner in the order.html,specifying display, content alignment and height */
.category-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Style created for the class category-item-inner div in the order.html, specifying padding, background properties, font, border etc */
.category-item-inner > div {
    padding: 5px 10px;
    background: #FFFEFC;
    color: #D5A947;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Style created for the class featured-products in the order.html, specifying margin, diplay, width and grid */
.featured-products {
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

/* Style created for the class featured-products-title in the order.html, specifying text alignment */
.featured-products-title {
    text-align: center;
}

/* Style created for the class featured-products-item in the order.html, specifying border-radius, text alignment */
.featured-product-item {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #FFFEFC;
}

/* Style created for the class featured-products-item-image in the order.html, image height and background properties */
.featured-product-item-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

/* Style created for the subclass title in the order.html, font properties */
.featured-product-item > .title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* Style created for the subclass description in the order.html specifying color */
.featured-product-item > .description {
    color: #D5A947;
}

/* Style created for the subclass price in the order.html specifying font-dty;e */
.featured-product-item > .price {
    font-style: italic;
}

/* Style for button elements */
button {
    outline: none;
    background: #FFFEFC;
    font-family: 'Poppins', sans-serif;
    color: #D5A947;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}

/* Style for different fonts in the classes.html  */
.font-class-1 {
    font-family: 'Frunchy';
    font-weight: bold;
    font-size: 4em;
    padding-top: 0.2em;
}

.font-class-2 {
    font-family: 'Frunchy';
    font-size: 2em;
    text-align: center;
    padding-bottom: 1em;
}

.font-class-3 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.5em;
    color: #D5A947;
    padding-bottom: 1em;
    text-align: center;
}

.font-class-4 {
    text-align: center;
}

.image-for-class {
    border-top-left-radius: 50em;
    border-top-right-radius: 50em;
    border: solid #D5A947;
    margin-top: 3em;
}

.contact-details {
    text-align: center;
}

/* Set font of all elements to 'Poppins' */
* {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

/* Remove outline of all elements on focus */
*:focus {
	outline: 0;
}

/* Styles for the id created for contact form */
#contact-form {
	text-align: center;
    color: #E57B7C;
    font-weight: bold;

}

/* Add styles to 'container' class */
#bottom-contact{
	padding: 30px 24px 24px 30px;
    margin-left: 2em;
    margin-right: 5em;
    margin-top: 28em;
	background: #FFFEFC;
	border-radius: 4px;
} */

/* Add styles to 'label' selector */
label{
	font-size: 0.85em;
	margin-left: 12px;
    color: #E57B7C;

}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #e57b7c;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus, input[type=email]:focus, textarea:focus {
	border: 1px solid #1478B8;
}

/* Add styles to the submit button */
input[type=submit] {
	background: #1478B8;
	margin: 0 auto;
	outline: 0;
	color: #FFFEFC;
	border: 0;
	padding: 12px 1px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #1478B8;
	color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #1478B8;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}

/* Style for social media icons */
.fa {
    padding: 10px;
    font-size: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 20px 20px;
    border-radius: 50%;
  }
  
.fa:hover {
      opacity: 0.7;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
  }

.fa-whatsapp {
    background: #00b489;
    color: white;
  }


/*Media query for tablet viewport targets screen size with a minimum width of 481px. */
@media only screen and (min-width: 481px) {

    header p {
		margin-bottom: 4em;
		padding-top: 1.5em;
	}

	/* Style specifies display type, float type, margin, padding and width for nav li elements*/
	nav li {
		display: inline;
		float: left;
		margin-left: 1%;
		margin-right: 1%;
		padding-left: 0;
		padding-right: 0;
		width: 23%;
	}

    .nav li a:visited, a:visited, .index-footer a:visited, .footer-for-classes a:visited  {
        color: #1478B8;
        background-color: transparent;
        text-decoration: none;
      }
    
    .nav li a:link, a:link, .index-footer a:link, .footer-for-classes a:link{
        color: #FFFEFC;
        background-color: transparent;
        text-decoration: none;
      }
    
    .nav li a:hover, a:hover, .index-footer a:hover, .footer-for-classes a:hover{
        color: #D5A947;
        background-color: transparent;
        text-decoration: none;
      }
      
    .nav li a:active, a:active, .index-footer a:active, .footer-for-classes a:active{
        color: #FFFEFC;
        background-color: transparent;
        text-decoration: none;
    }
    

}
/*Media query for viewport targets screen size with a maximum width of 1000px. */
@media (max-width: 1000px) {
    .category-item {
        min-width: 50%;
    }
    
}

@media (max-width: 1000px) {
    .featured-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Media query for viewport targets screen size with a maximum width of 800px. */
@media (max-width: 800px) {
    .category-item {
        min-width: 100%;
    }

}

@media (max-width: 800px) {
    .featured-products {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    #top-contact {
        min-width: 100%;
        padding: auto;
        float: center;
    }
    #mid-contact {
        float: clear;
        min-width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    #bottom-contact {
        margin-top: 40em;
        margin-right: 2em;
    }

    #contact {
        display: inline;
    }
}



